<!DOCTYPE html>
<html>
    <head>
        <title>Collectibles Store</title>
    </head>
    <body>
        <h1>Welcome to the Collectibles Store</h1>
        <a href="/users-view">View Users</a>
        <a href="/offers">Add Offer</a>
    </body>
</html>
