<!DOCTYPE html>
<html>
    <head>
        <title>Item Offers</title>
    </head>
    <body>
        <h1>Create an Offer</h1>

        <form action="/offers" method="post">
            <label>Item:</label><input name="item" required><br>
            <label>Price:</label><input name="price" required><br>
            <label>Seller:</label><input name="seller" required><br>

            <input type="hidden" name="simulateError" value="false">

            <button type="submit">Submit</button>
        </form>
        {{#message}}
            <p><b>{{message}}</b></p>
        {{/message}}

        <h2>All Offers</h2>
        <ul>
            {{#offers}}
                <li>{{item}} - $ {{price}} (by {{seller}})</li>
            {{/offers}}
        </ul>
    </body>
    <script>
        const socket = new WebSocket("ws://localhost:4567/ws/price");

        socket.onmessage = (e) => {
            const data = JSON.parse(e.data);
            const offerList = document.getElementById("offerList");

            // update offer in the list dynamically
            const li = document.createElement("li");
            li.textContent = `${data.item} - $${data.price} (by ${data.seller})`;
            offerList.appendChild(li);
        };

        function updatePrice(item, newPrice) {
            socket.send(JSON.stringify({item, price: newPrice}));
        }

    </script>
</html>
